<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afeng.web.module.app.controller.ApiTestController">

    <!--测试-->
    <sql id="findOperLogVo">
        select oper_id, title, business_type, method, request_method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, json_result, status, error_msg, oper_time
        from sys_oper_log
    </sql>

    <select id="findOperLogById" parameterType="Long" resultType="map">
        <include refid="findOperLogVo"/>
        where oper_id = #{operId}
    </select>

    <select id="findOperLog" parameterType="map" resultType="map">
        <include refid="findOperLogVo"/>
        where oper_id = #{operId}
    </select>

</mapper> 